.close-button {
    background: transparent;
    border: 1px solid @theme_fg;
    box-shadow: none;
}
.close-button:hover {
    background: @theme_selection;
}
.close-button:active {
    background: @theme_accent;
}

.pick-button {
    border: none;
    background: transparent;
    margin: 0;
    padding: 0;
    min-height: 8px;
    min-width: 8px;
}