window {
    background: @theme_bg;
    color: @theme_gg;
    box-shadow: 0 0 0 2px @theme_bg;
}

checkbutton {
    font-family: "Chicago 12.1", sans-serif;
    font-size: 16px;
    color: @theme_fg;
}

checkbutton check {
    border: 1px solid @theme_fg;
    background: @theme_bg;
    min-width: 11px;
    min-height: 11px;
    border-radius: 0;
}

checkbutton check:checked {
    background: @theme_fg;
}

.contrast-scale {
    background: @theme_bg;
    color: @theme_fg;
    border-radius: 0;
}

.contrast-scale highlight {
    background: @theme_accent;
}

.contrast-scale trough {
    background: @theme_bg;
    border: 1px solid @theme_fg;
    border-radius: 0;
    min-height: 8px;
}

.contrast-scale slider {
    background: @theme_bg;
    border: 1px solid @theme_fg;
    border-radius: 0;
    min-width: 4px;
    min-height: 8px;
}

.contrast-scale slider:hover {
    background: @theme_selection;
}

.contrast-scale slider:active {
    background: @theme_accent;
}

dialog {
    background: @theme_bg;
    border: 1px solid @theme_fg;
}

messagedialog {
    background: @theme_bg;
    color: @theme_fg;
}

filechooser {
    background: @theme_bg;
    color: @theme_fg;
}

.image-frame {
  2px solid @theme_fg;
}

.close-button {
    background: transparent;
    border: 1px solid @theme_fg;
    box-shadow: none;
}
.close-button:hover {
    background: @theme_bg;
}
.close-button:active {
    background: @theme_bg;
}

button:not(.close-button) {
    background: none;
    border: none;
    min-height: 0px;
    min-width: 0px;
    -gtk-icon-size: 0px;
}
button:not(.close-button) * {
    margin: 0;
    padding: 0;
    min-height: 0px;
    min-width: 0px;
    -gtk-icon-size: 0px;
}