window {
    background: @theme_selection;
    color: @theme_fg;
}

.close-button {
    background: transparent;
    border: 1px solid @theme_fg;
    box-shadow: none;
}
.close-button:hover {
    background: @theme_fg;
}
.close-button:active {
    background: @theme_fg;
}