window {
    background: @theme_bg;
    color: @theme_fg;
    box-shadow: 0 0 0 2px @theme_fg;
}

.close-button {
    background: transparent;
    border: 1px solid @theme_fg;
    box-shadow: none;
}
.close-button:hover {
    background: @theme_accent;
}
.close-button:active {
    background: @theme_selection;
}